*{
    margin:0;
    padding:0;
box-sizing: border-box;    
}
header{
    padding: 10px 0;
    background-color: white
    ;

}
body{
    background-color: #dae0e6;
}
 
.wraper-header,
.wraper-main
{
    width:100%;
    padding: 0 10px;
    display: flex;
    max-width:1480px ;
    margin: 0 auto;
}
.wraper-header img{
    width: 100px;
}
.home-btn{
    display: flex
    ;
    justify-content: space-around;
    width: 20%;
 padding: 10px 0;
 color: rgb(68, 68, 68);
}

.search{
    width: 45%;
   
}
.search input{
    width: 100%;
   height: 40px;
    background-color: rgb(245,245,245);
    border-radius:5px;
    border: 1px solid rgb(240,240,240);
    padding-left: 10px;
}

.notifications{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 13%;
    padding: 10px 0;
    color: rgb(68, 68, 68);

}

.notifications svg{
    cursor: pointer;
    font-size:22px ;
}
.notifications svg:hover{
    background-color: rgb(240,240,240);
}

.posts{
    width: 70%;
}

.sidebar{
    width: 30%;
} 
.comunidades{
    background-color: white;
    border-radius: 10px;
padding-bottom: 10px;
}
.comunidades h2{
    color: white;
    padding-top: 30px  ;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%); 
    border-radius: 10px 10px 0px 0px;
   
}

.comunidade-single{
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.comunidade-single svg{
    color: greenyellow;
}
 .comunidade-single button{
    background-color: #069;
    color: white;
    border-radius:10px ;
    border: 0;
  
    width: 60px;
    height: 20px;
 }
 .comunidade-single img{
    vertical-align: middle;
 }
 .comunidades h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .comunidades button.view-all{
    width: 80%;
    display: block;
    margin: auto;
    margin: 10px 0;
    height: 30px;
    background-color: #069;
    color: white;
    border-radius:10px ;
     border: 0;
 }
 .post-single{
    display:flex;
    background-color: white
    ;
    padding:20px 0;

  }
  .post-sidebar{
    padding:  10px ;
    background-color:rgb(245,245,245) ;
  }
  .post-content{
    padding: 20px;
  }
  .post-content img{
    width: 30px;
    height:30px;
    border-radius: 15px;
  }
  .post-content h3{
    margin-top: 10px;
  }